<% provide(:title, @user.name) %>
<div class="users-heading">
    <h2 class="username"><%= link_to "#{@user.name}", user_path %></h2>
</div>
<div class="container">
    <%= render partial: "album", collection: @albums %>
</div>