<% provide(:title, @user.name) %>
<div class="users-heading">
    <h2 class="username"><%= @user.name %></h2>
</div>
<div class="container">
    <%= render partial: "album", collection: @albums %>
</div>