<div class="main home-top">
    <div class="container">
        <ul>
            <li><%= link_to("ログイン", user_session_path) %></li>
            <li><%= link_to("登録", new_user_registration_path) %></li>
        </ul>
    </div>
</div>