<div class="top-title-container">
  <div class="top-title">
    <h1>100px</h1>
  </div>
  <p id="caption">ちいさな画像しか投稿できません</p>
</div>

<div class="top-login-container">
  <ul>
    <li>
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <i class="fab fa-twitter-square"></i>
        <p id="caption">Twitterではじめる</p>
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path do %>
        <i class="fas fa-envelope-square"></i>
        <p id="caption">メールアドレスではじめる</p>
      <% end %>
    </li>
  </ul>
</div>