<li class="btn">
  <%= link_to user_album_path do %>
    <i class="fas fa-grip-horizontal"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to chess_user_album_path do %>
    <i class="fas fa-chess-board"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to horizontal_user_album_path do %>
    <i class="fas fa-long-arrow-alt-right"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to vartical_user_album_path do %>
    <i class="fas fa-long-arrow-alt-down"></i>
  <% end %>
</li>