<div class="wrapper">
    <div class="container" class="transitions-enable clearfix">
        <%= form_for(@post, url: { controller: :albums, action: :create } ) do |f| %>
        <%= render partial: "form", collection: @posts, as: "post" %>
        <% end %>
    </div>
</div>
<% content_for :return do %>
    <%= link_to ("#") do %>
        <div class="btn"><i class="fas fa-reply"></i></div>
    <% end %>
<% end %>
<% content_for :plus do %>
    <%= link_to new_user_post_path do %>
      <div class="btn"><i class="fas fa-plus"></i></div>
    <% end %>
<% end %>