<div id="wrapper">
    <div id="container" class="transitions-enable clearfix">
        <%= render partial: "post", collection: @posts %>
    </div>
</div>

<% content_for :plus do %>
    <%= link_to new_user_post_path do %>
      <div class="btn"><i class="fas fa-plus"></i></div>
    <% end %>
<% end %>