@media (max-width: 767px) {
    .nav-left .buttons {
        text-align: center;
        line-height: 2.5;
        margin-right: 65px;
    }
    
    .nav-left .buttons .btn {
        display:inline;
        margin: 0px 3px;
        i {
            width: 10px;
        }
    }
    
    .nav-container .nav-right .nav {
      width: 50px;
      height: 35px;
      margin-right: 3px;
      position: relative;
    }
    
    body .users-heading {
        width: 100%;
        height: 120px;
        margin-top: 40px;
        display: block;
    }
    
    .users-heading .username {
        font-family: 'Antic', sans-serif;
        line-height: 70px;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.1em;
        color: rgb(112, 112, 112);
        text-align: center;
    }
}

// リンクの装飾
a {
    text-decoration: none;
    color: rgb(112, 112, 112);
}