<li class="btn">
  <%= link_to("/#{params[:user_id]}/#{params[:album_id]}/posts") do %>
    <i class="fas fa-grip-horizontal"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to("/#{params[:user_id]}/#{params[:album_id]}/posts/chess") do %>
    <i class="fas fa-chess-board"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to("/#{params[:user_id]}/#{params[:album_id]}/posts/horizontal") do %>
    <i class="fas fa-long-arrow-alt-right"></i>
  <% end %>
</li>
<li class="btn">
  <%= link_to("/#{params[:user_id]}/#{params[:album_id]}/posts/vartical") do %>
    <i class="fas fa-long-arrow-alt-down"></i>
  <% end %>
</li>