<div class="title-heading">
  <h2 class="title"><%= link_to "#{@album.album_name}", :back %></h2>
  <% if nil_post? %>
    <p>画像を投稿してみましょう</p>
  <% end %>
</div>
<div class="post-form-wrapper">
  <%= form_for(@post, url: user_posts_path) do |f| %>
    <div class="file-post-container">
      <div class="btn-input">
        <label for="files">
          <div class="label-picture">
            <i class="far fa-images"></i>
          </div>
        </label>
        <%= f.file_field :picture, name: "post[picture][]", id: "files",
                         multiple: true, accept: 'image/jpeg,image/gif,image/png',
                         required: true, style: "display: none" %>
      </div>
    </div>
    <div class="submit-line">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="wrapper">
  <div class="container">
    <ul id="list">
    </ul>
  </div>
</div>


<script>
    $('.picture').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 3) {
            alert('3MB以上の画像は投稿できません');
        }
    });

    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.createElement('li');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('list').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>