.wrapper {
  width: 100%;
  margin-top: 100px;

}
.wrapper .container {
  max-width: 900px;
  margin: 0 auto;   /*中央寄せ*/
  display: flex;
  flex-wrap:wrap;
  
}
.box {
  margin: 15px;
  height: 60px;
  width: 60px;
  padding: 8px;
}
.box img {
    width: 60px;
}