.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.wrapper .container {
  margin: 100px 50px 0 50px;
}
.wrapper .container ul {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  animation: bottom-to-top-grid 1.3s ease-out 0s 1 normal;
}
.wrapper .container ul li {
  margin: 30px;
}
.box img {
    width: 100px;
    height: 100px;
}
.relative-picture {
    position: relative;
}
.absolute-text {
    position: absolute;
    font-size: 1.5em;
<<<<<<< HEAD
    color: rgb(112, 112, 112);
    left: -10px;
    bottom: 49px;
=======
    color: rgba(112, 112, 112, 0.8);
    left: -10px;
    bottom: 90px;
>>>>>>> bc90ecc... update: 画像の表示サイズを100pxに。それにあわせてCSSの修正
}

@keyframes bottom-to-top-grid {
    from {
        margin-top: 1500px;
    }
    to {
        margin-top: 110px;
    }
}