<<<<<<< HEAD
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.wrapper .container {
  margin: 100px 50px 0 50px;
}
.wrapper .container ul {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  animation: bottom-to-top-grid 1.3s ease-out 0s 1 normal;
}
.wrapper .container ul li {
  margin: 30px;
}
.box img {
    width: 100px;
    height: 100px;
}
.relative-picture {
    position: relative;
}
.absolute-text {
    position: absolute;
    font-size: 1.5em;
<<<<<<< HEAD
    color: rgb(112, 112, 112);
    left: -10px;
    bottom: 49px;
=======
    color: rgba(112, 112, 112, 0.8);
    left: -10px;
    bottom: 90px;
>>>>>>> bc90ecc... update: 画像の表示サイズを100pxに。それにあわせてCSSの修正
}

@keyframes bottom-to-top-grid {
    from {
        margin-top: 1500px;
    }
    to {
        margin-top: 110px;
    }
=======
.container {
}

.text-box {
  width: 50%;
  margin-bottom: 80px;
  float: left;
}

.cover-box {
  width: 50%;
  margin-bottom: 80px;
  float: left;
}

.cover img{
  height: 65px;
  width: 65px;
}

.cover {
  width: 65px;
  float: left;
}

.delete-album {
  height: 65px;
  width: 35px;
  float: left;
  text-align: center;
}

.delete-album i {
  font-size: 1.2em;
  color: rgba(112, 112, 112, 0.8);
  line-height: 65px;
  cursor: pointer;
}

.delete-album i:active {
  font-size: 1em;
}

.cover label {
  position: relative;
}

.text {
  font-family: 'Antic', sans-serif;
  color: #707070;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-align: right;
  margin-right: 18px;
  height: 65px;
  line-height: 65px;
}

.text-form {
  text-align: right;
  height: 65px;
  margin-right: 18px;
  line-height: 65px;
}

input[type="text"] {
  font-family: 'Antic', sans-serif;
  color: #707070;
  font-size: 20px;
  letter-spacing: 0.08em;
  width: 7em;
  text-align: right;
  border: solid 1px;
  border-radius: 2px;
}
input[type="text"]:focus {
  outline: solid 2px white;
}

.form-container {
  width: 100%;
  height: 65px;
  margin-bottom: 60px;
}



.label-picture {
  width: 64px;
  height: 64px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px gray;
}

.label-picture:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  border: solid 1px gray;
  outline: 0;
}


.label-picture i {
  font-size: 2em;
  color: rgba(112, 112, 112, 0.8);
  line-height: 64px;
}

.put {
  position: absolute;
  top: 0px;
  left: 0px;
}

.submit {
  float:left;
  margin-left: 20px;
  margin-top: 22px;
}

input[type="submit"] {
  font-family: 'Antic', sans-serif;
  color: #707070;
  letter-spacing: 0.08em;
  width: 55px;
  height: 25px;
  border: solid 1px gray;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px gray;
  outline: 0;
}

input[type="submit"]:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  border: solid 1px gray;
  outline: 0;
>>>>>>> ab5fa28... add: アルバム削除フォーム作成。ルーティングの変更
}