.users-heading {
  font-family: 'Antic', sans-serif;
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 30px;
  color: #707070;
  text-align: center;
}

.container {
}

.text-box {
  width: 50%;
  margin-top: 60px;
  float: left;
}

.cover-box {
  width: 50%;
  margin-top: 60px;
  float: left;
}

.cover img{
  height: 65px;
  width: 65px;
}

.text {
  font-family: 'Antic', sans-serif;
  color: #707070;
  font-size: 20px;
  text-align: right;
  margin-right: 18px;
  vertical-align: middle;
  height: 65px;
  line-height: 65px;
}